@model ASP_NewsModule.ViewModels.Home.IndexViewModel

@foreach (var news in Model.News)
{
    <table border="1" width="100%">
        <tr bgcolor="#47A7C7">
            <td width="80%">@news.NewsTitle</td>
            <td width="20%">@news.NewsDate.ToShortDateString()</td>
        </tr>
        <tr>
            <td colspan="2">
                <span style="white-space: pre-line">@news.NewsBody</span><br />
                <center>
                    @foreach (var image in Model.NewsImages)
                    {
                        if (image.NewsId == news.Id)
                        {
                            <a href="@Url.Content(image.ImagePathNormal)"><img src="@Url.Content(image.ImagePathScaled)" /></a>
                        }
                    }
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <form asp-action="DeleteNews" asp-controller="Admin" method="post">
                    <input type="hidden" name="NewsId" value="@news.Id" />
                    <input type="checkbox" name="isChecked" id="isChecked" value="true" />
                    <span>Подтвердить удаление</span>
                    <input type="submit" value="Удалить" />
                </form>
            </td>
            <td align="right">
                @news.UserName
            </td>
        </tr>
    </table>
    <br />
}

<center>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i != Model.CurrentPage)
        {
            @Html.ActionLink(i.ToString(), "Index", new { pageNumber = i })
            <span>&nbsp;</span>
        }
        else
        {
            @i
            <span>&nbsp;</span>
        }
    }
</center>